<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>

	<typeAliases>
      	<typeAlias type="com.finalproject.model.AccountBook" alias="AccountBook"/>
      	<typeAlias type="com.finalproject.model.Branch" alias="Branch"/>
      	<typeAlias type="com.finalproject.model.BranchEmp" alias="BranchEmp"/>
      	<typeAlias type="com.finalproject.model.BranchOrder" alias="BrOrder"/>
		<typeAlias type="com.finalproject.model.Calendar" alias="Calendar"/>				
		<typeAlias type="com.finalproject.model.ClientDetailPageVo" alias="CDPV"/>				
      	<typeAlias type="com.finalproject.model.Career" alias="Career"/>   	
      	<typeAlias type="com.finalproject.model.Client" alias="Client"/>
      	<typeAlias type="com.finalproject.model.ClientDetail" alias="ClDetail"/>
      	<typeAlias type="com.finalproject.model.HqOrder" alias="HqOrder"/> 
      	<typeAlias type="com.finalproject.model.HqOrderDetail" alias="HOD"/>
      	<typeAlias type="com.finalproject.model.HqInventory" alias="HI"/>
      	<typeAlias type="com.finalproject.model.Criteria" alias="Criteria"/>
      	<typeAlias type="com.finalproject.model.Employee" alias="Employee"/>   	
      	<typeAlias type="com.finalproject.model.Event" alias="event"/>
      	<typeAlias type="com.finalproject.model.Languages" alias="Languages"/>
     	<typeAlias type="com.finalproject.model.LargeCategory" alias="LC" />
      	<typeAlias type="com.finalproject.model.Licenses" alias="Licenses"/>   	
      	<typeAlias type="com.finalproject.model.Message" alias="Message"/>
		<typeAlias type="com.finalproject.model.NoticeBoard" alias="Notice"/>
      	<typeAlias type="com.finalproject.model.PageBoardDetail" alias="PBD"/>
      	<typeAlias type="com.finalproject.model.PageMessage" alias="PM"/>
      	<typeAlias type="com.finalproject.model.PageVo" alias="PV"/>
      	<typeAlias type="com.finalproject.model.ProductSearch" alias="PS"/>
	    <typeAlias type="com.finalproject.model.Product" alias="Product" />
	    <typeAlias type="com.finalproject.model.ProductPageVo" alias="PPV" />
      	<typeAlias type="com.finalproject.model.RegisterEmp" alias="RegisterEmp"/>     	
      	<typeAlias type="com.finalproject.model.SendMail" alias="SendMail"/>
      	<typeAlias type="com.finalproject.model.SmallCategory" alias="SC" />
		<typeAlias type="com.finalproject.model.TodayPlan" alias="TP"/>
      	<typeAlias type="com.finalproject.model.WebBoard" alias="Wboard" />
      	<typeAlias type="com.finalproject.model.SalesBrPr" alias="SBP" />
      	<typeAlias type="com.finalproject.model.WorkTime" alias="WorkTime" />
      	<typeAlias type="com.finalproject.model.LSalesBrPr" alias="LSBP" />
	</typeAliases>

	<mappers> 
	   <mapper resource="mybatis/mapper/notice.xml"/>
	   <mapper resource="mybatis/mapper/todayplan.xml"/>
	   <mapper resource="mybatis/mapper/calendar.xml"/>
	   <mapper resource="mybatis/mapper/product.xml"/>
       <mapper resource="mybatis/mapper/branch.xml"/>
       <mapper resource="mybatis/mapper/website.xml"/>
       <mapper resource="mybatis/mapper/distribution.xml"/>
       <mapper resource="mybatis/mapper/employee.xml"/>       
       <mapper resource="mybatis/mapper/message.xml"/>    
       <mapper resource="mybatis/mapper/chart.xml"/>
   </mappers>
</configuration>