<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>

	<typeAliases>
		<typeAlias type="com.finalproject.model.NoticeBoard" alias="Notice"/>
		<typeAlias type="com.finalproject.model.TodayPlan" alias="TP"/>
		<typeAlias type="com.finalproject.model.Calendar" alias="Calendar"/>				
      	<typeAlias type="com.finalproject.model.PageVo" alias="PV"/>
      	<typeAlias type="com.finalproject.model.PageBoardDetail" alias="PBD"/>
	    <typeAlias type="com.finalproject.model.Product" alias="Product" />
     	<typeAlias type="com.finalproject.model.LargeCategory" alias="LC" />
      	<typeAlias type="com.finalproject.model.SmallCategory" alias="SC" />
      	<typeAlias type="com.finalproject.model.WebBoard" alias="Wboard" />
      	<typeAlias type="com.finalproject.model.Client" alias="Client"/>
      	<typeAlias type="com.finalproject.model.ClientDetail" alias="ClDetail"/>
      	<typeAlias type="com.finalproject.model.HqOrder" alias="HqOrder"/> 
      	<typeAlias type="com.finalproject.model.RegisterEmp" alias="RegisterEmp"/>     	
      	<typeAlias type="com.finalproject.model.Employee" alias="Employee"/>   	
      	<typeAlias type="com.finalproject.model.Career" alias="Career"/>   	
      	<typeAlias type="com.finalproject.model.Licenses" alias="Licenses"/>   	
      	<typeAlias type="com.finalproject.model.Languages" alias="Languages"/>
      	<typeAlias type="com.finalproject.model.BranchOrder" alias="BrOrder"/>
      	<typeAlias type="com.finalproject.model.Message" alias="Message"/>
      	<typeAlias type="com.finalproject.model.Branch" alias="Branch"/>
	</typeAliases>

	<mappers> 
	   <mapper resource="mybatis/mapper/notice.xml"/>
	   <mapper resource="mybatis/mapper/todayplan.xml"/>
	   <mapper resource="mybatis/mapper/calendar.xml"/>
	   <mapper resource="mybatis/mapper/product.xml"/>
       <mapper resource="mybatis/mapper/branch.xml"/>
       <mapper resource="mybatis/mapper/website.xml"/>
       <mapper resource="mybatis/mapper/distribution.xml"/>
       <mapper resource="mybatis/mapper/employee.xml"/>       
       <mapper resource="mybatis/mapper/message.xml"/>
   </mappers>
</configuration>