<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>

	<typeAliases>
		<typeAlias type="com.finalproject.model.NoticeBoard" alias="Notice"/>
	    <typeAlias type="com.finalproject.model.Product" alias="Product" />
     	<typeAlias type="com.finalproject.model.LargeCategory" alias="LC" />
      	<typeAlias type="com.finalproject.model.SmallCategory" alias="SC" />
	</typeAliases>

	<mappers> 
	   <mapper resource="mybatis/mapper/notice.xml"/>
       <mapper resource="mybatis/mapper/branch.xml"/>
   </mappers>
</configuration>